.image-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%
}

.image{
    height: 50%;
    width: 50%;
}

.Button-selection{
    display: flex;
    justify-content: center;
}

.Question-text{
    display: flex;
    justify-content: center;
    padding-top: .05%;

}