.SignInDesign{
    display: flex;
    background-image: url(../../Images/EyeTracking.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0% 30%;
}